MONGOHOST=${{mongodb.MONGOHOST}}
MONGOPASSWORD=${{mongodb.MONGOPASSWORD}}
MONGOPORT=${{mongodb.MONGOPORT}}
MONGOUSER=${{mongodb.MONGOUSER}}
MONGO_URL=${{mongodb.MONGO_URL}}
PAYLOAD_PUBLIC_SERVER_URL=https://${{RAILWAY_STATIC_URL}}
PAYLOAD_SECRET_KEY=somelongstring123456789